.bi{
    color: black;
    width: 29px;
}
.active{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 20px;
}
.carousel-control-prev{
    margin-left: -30px;
    width: 30px;
}
.carousel-control-next{
    margin-right: -30px;
    width: 30px
}