<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-cards1>Loading</app-cards1>
      </div>
      <div class="carousel-item">
        <app-cards2>Loading</app-cards2>
      </div>
      <div class="carousel-item">
        <app-cards1>Loading</app-cards1>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#chevron-left" />
        </svg>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#chevron-right" />
        </svg>
    </button>
  </div>
<!-- <div id="carouselControls" class="carousel-slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
                <app-cards1>Loading</app-cards1>
        </div>
        <div class="carousel-item">
                <app-cards2>Loading</app-cards2>
        </div>
        <div class="carousel-item">
                <app-cards1>Loading</app-cards1>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" href="carouselControls" data-bs-slide="prev">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#chevron-left" />
        </svg>
    </button>
    <button class="carousel-control-next" type="button" href="carouselControls" data-bs-slide="next">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#chevron-right" />
        </svg>
    </button>

</div> -->