<div class="sidenav border border-gray">
    <a class="nav-link text-dark" href="#">
        <img src="./assets/appleLogo.png">
        Music
    </a>

    <div class="input-group">
        <span class="input-group-append">
            <button class="btn  bg-white  ms-n3" type="button">
                <svg class="bi2">
                    <use xlink:href="bootstrap-icons.svg#search" />
                </svg>
            </button>
        </span>
        <input class="form-control" type="text" value="search" id="example-search-input">
    </div>

    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#play-circle" />
        </svg>
        Listen Now
    </a>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#grid" />
        </svg>
        Browse
    </a>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#broadcast" />
        </svg>
        Radio
    </a>
    <p class="text-secondary">Library</p>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#clock" />
        </svg>
        Recently Added
    </a>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#mic" />
        </svg>
        Artists
    </a>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#square" />
        </svg>
        Albums
    </a>
    <a class="nav-link text-dark" href="#">
        <svg class="bi">
            <use xlink:href="bootstrap-icons.svg#music-note" />
        </svg>
        Songs
    </a>
    <p class="text-secondary">Playlists</p>
    <a class="nav-link text-dark" href="#">
        <svg class="bi2">
            <use xlink:href="bootstrap-icons.svg#music-note-list" />
        </svg>
        1
    </a>

    <div class="nav-item">
        <a href="#" class="text-dark">
            <svg class="bi2">
                <use xlink:href="bootstrap-icons.svg#music-note-beamed" />
            </svg>
            Open in iTunes
            <svg class="bi2">
                <use xlink:href="bootstrap-icons.svg#arrow-up-right" />
            </svg>
        </a>
    </div>
</div>