<div class="container-fluid main">
    <div class="col">
        <h2>Browse</h2>
        <div class="col">
            <div class="row shelf-title">
                New Music Daily
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                From our Playlist Team
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                New Music
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                On the Air 24/7
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Apple Music Radio Shows
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Flashback Friday
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Music by Mood
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Best New Songs
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                City Charts
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Daily Top 100
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Radio Episodes
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Just Updated
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row">
                Country Around the World
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Artist Interviews
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Now in Spatial Audio
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                We're Loving
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Coming Soon
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row">
                More to Explore
            </div>
            <div class="col">
                <div class="d-flex flex-row">
                    <button>Browse by category</button>
                    <button>Chill</button>
                    <button>Kids</button>
                </div>
                <div class="d-flex flex-row">
                    <button>Apple Music on Apple News</button>
                    <button>Essentials</button>
                    <button>Music Videos</button>
                </div>
                <div class="d-flex flex-row">
                    <button>Charts</button>
                </div>
            </div>
        </div>
    </div>
</div>