<script>
    $(function () {
        $('.example-popover').popover({
            container: 'body'
        })
    })
</script>

<div class="header border border-gray">
    <nav class="navbar container">
        <ul class="nav play-controls container">
            <li class="nav-item shuffle" style=" margin-top: 3px;">
                <svg class="bi" width="14px" height="14px">
                    <use xlink:href="bootstrap-icons.svg#shuffle" />
                </svg>
            </li>
            <li class="nav-item back">
                <svg class="bi" width="20px" height="20px">
                    <use xlink:href="bootstrap-icons.svg#skip-backward-fill" />
                </svg>
            </li>
            <li class="nav-item play">
                <svg class="bi" width="34px" height="34px">
                    <use xlink:href="bootstrap-icons.svg#play-fill" />
                </svg>
            </li>
            <li class="nav-item forward">
                <svg class="bi" width="20px" height="20px">
                    <use xlink:href="bootstrap-icons.svg#skip-forward-fill" />
                </svg>
            </li>
            <li class="nav-item svg#arrow-repeat">
                <svg class="bi" width="14px" height="14px">
                    <use xlink:href="bootstrap-icons.svg#arrow-repeat" />
                </svg>
            </li>
        </ul>

        <div class="currently-playing">
            <img style="width: 510px; height: 44px" src="./assets/currentlyPlaying.png">
        </div>

        <div class="right-side-container container">
            <ul class="nav">
                <li class="nav-item">
                    <svg class="bi" width="14px" height="14px">
                        <use xlink:href="bootstrap-icons.svg#volume-up-fill" />
                    </svg>
                </li>
                <li class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" data-slider-id="volumeSlider"
                        id="myRange" style="width:75px; height: 4px">
                </li>
            </ul>

            <div class="up-next-profile">
                <button type="button" class="btn btn-white">
                    <!-- <i class="bi bi-list-ul"></i> -->
                    <svg class="bi" width="24px" height="18px">
                        <use xlink:href="bootstrap-icons.svg#list-ul" />
                    </svg>
                </button>

                <button type="button container" class="btn btn-lg btn-white" data-bs-toggle="popover"
                    data-placement="left"aria-expanded="false" id="popover1" data-html="true"
                    data-bs-content="popover-menu">
                    <svg class="bi" width="24px" height="25px" color="red">
                        <use xlink:href="bootstrap-icons.svg#person-circle" />
                    </svg>
                </button>
                <!-- <ul class="popover-menu" aria-labelledby="popover1">
                        <li>
                            <a class="popover-item text-dark" href="#">
                                Help
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a class="popover-item text-dark" href="#">
                                Settings
                                <i class="bi bi-gear-wide-connected"></i>
                            </a>
                        </li>
                        <li>
                            <a class="popover-item text-danger" href="#">
                                Sign Out
                            </a>
                        </li>
                    </ul> -->
            </div>
        </div>
    </nav>

</div>