<html>
<head>
<style>
footer {
  text-align: left;
  padding: 3px;
  position: fixed;
  bottom: 0;
  left: 259px;
  width: 100%;
  background-color: rgba(235, 228, 226, 0.527);
  color: gray;
}
</style>
</head>
<body>

<footer>
    <p>Copyright © 2021
        <a class="text-black" href="#">Apple Inc.</a>
        All rights reserved.
        <br>
        <a class="text-black" href="#">Internet Service Terms</a>
        |
        <a class="text-black" href="#">Apple Music & Privacy</a>
        |
        <a class="text-black" href="#">Cookie Warning</a>
        |
        <a class="text-black" href="#">Support</a>
        |
        <a class="text-black" href="#">Feedback</a>
    </p>
</footer>

</body>
</html>