<div class="main container-fluid">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="album-cover" style="background-color: red;">album cover</div>
            <div class="album-description" style="background-color: blue;">description</div>
        </div>
        <div class="col">
            <p>song1</p>
            <p>song2</p>
            <p>song3</p>
        </div>
        <div>
            date, length, etc.
        </div>
        <div class="d-flex flex-column">
            <div class="col">
                <div class="row shelf-title">
                    Other versions
                </div>
                <div class="row">
                    other versions carousel
                </div>
            </div>
            <div class="col">
                <div class="row shelf-title">
                    Music videos
                </div>
                <div class="row">
                    Music videos carousel
                </div>
            </div>
            <div class="col">
                <div class="row shelf-title">
                    video extras
                </div>
                <div class="row">
                    video extras carousel
                </div>
            </div>
            <div class="col">
                <div class="row shelf-title">
                    more by
                </div>
                <div class="row">
                    more by carousel
                </div>
            </div>
            <div class="col">
                <div class="row shelf-title">
                    Featured on
                </div>
                <div class="row">
                    Featured on carousel
                </div>
            </div>
        </div>
    </div>
</div>