<head>
    <style>
      .card{
        position: relative;
        top: 20%;
        width: 279.8px;
        height: 380.4px;
        border: none;
      }
  
      .card-title{
        position: relative;
        top: 0;
        color: gray;
      }
  
      .card-content {
        position: relative;
        bottom: 0;
        width: 279.8px;
        height: 347.8px;
      }
  
      .card-body {
        background-color: rgba(26, 25, 25, 0.829);
        color: white;
        font-size: small;
      }
    </style>
  </head>
  
  <body>
    <button class="card" href="#">
      <div class="card-title">
        <p class="card-title-text">
          Picked for you
        </p>
      </div>
  
      <div class="card-content">
        <img src="albumCover2.png" class="card-img-top">
        <div class="card-body">
          <p class="card-text">
            Some songs from artists you may like.
          </p>
        </div>
      </div>
    </button>
  </body>