<div class="d-flex component-fluid">
    <div class="row">
        <div class="col-2 side-bar">
            <app-side-bar>Loading side-bar</app-side-bar>
        </div>
        <div class="col right-side-container ps-0">
            <div class="row top-bar ps-0">
                <app-top-bar class="ps-0">Loading top-bar</app-top-bar>
            </div>
            <div class="row body ps-0">
                <!-- <app-playlist-body class="ps-0">Loading body</app-playlist-body> -->
                <router-outlet></router-outlet>
            </div>
            <div class="row footer">
                <app-footer class="ps-0">Loading footer</app-footer>
            </div>
        </div>
    </div>
</div>