<div class="component-fluid main">
    <div class="col">
        <h2>Listen Now</h2>
        <div class="col big-shelf">
            <div class="row shelf-title">
                Top Picks
            </div>
            <div class="row">
                <app-carousel1></app-carousel1>
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                Recently Played
            </div>
            <div class="row">
                <app-carousel1></app-carousel1>
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                2010s
            </div>
            <div class="row small-shelf">
                <app-carousel1></app-carousel1>
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                If You Like ...
            </div>
            <div class="row">
                If You Like ... Carousel
            </div>
        </div>
        <div class="col big-shelf">
            <div class="row shelf-title">
                Made for You
            </div>
            <div class="row">
                Made for You Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                Stations for You
            </div>
            <div class="row small-shelf">
                Stations for You Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                2000s
            </div>
            <div class="row">
                2000s Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                New Releases
            </div>
            <div class="row">
                New Releases Carousel
            </div>
        </div>
        <div class="col radio-shelf">
            <div class="row shelf-title">
                Radio Episode for You
            </div>
            <div class="row">
                Radio Episode for You Card
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                If You Like ...
            </div>
            <div class="row">
                If You Like Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                Alternative
            </div>
            <div class="row">
                Alternative Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                More Like ...
            </div>
            <div class="row">
                More Like ... Carousel
            </div>
        </div>
        <div class="col small-shelf">
            <div class="row shelf-title">
                Rock
            </div>
            <div class="row">
                Rock Carousel
            </div>
        </div>
        <div class="col big-shelf">
            <div class="row shelf-title">
                Replay: Your Top Songs by Year
            </div>
            <div class="row">
                Replay: Your Top Songs by Year Carousel
            </div>
        </div>
    </div>
</div>