<div class="container-fluid main">
    <div class="col">
        <h2>Radio</h2>
        <div class="col">
            <div class="d-flex flex-row">
                <p>card 1</p>
                <p>card 2</p>
                <p>card 3</p>
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Recently Played
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                New Episodes
            </div>
            <div class="row">
                <div class="col">
                    <p>card 4</p>
                    <p>card 5</p>
                </div>
                <div class="col">
                    <p>card 6</p>
                    <p>card 7</p>
                </div>
                <div class="col">
                    <p>card 8</p>
                    <p>card 9</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Our Radio Hosts
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Hosted By Artists
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Discover New Shows
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Artist Interviews
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Hear the Entire Series
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Hip-Hop and R&B Shows
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Shows Hosted by Groups
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Apple Music 1
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Apple Music Hits
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row">
                Apple Music Country
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Playlist Shows
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Every Show, On Demand
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Local Broadcasters
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                International Broadcasters
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row shelf-title">
                Stations by Genre
            </div>
            <div class="row">
                Carousel
            </div>
        </div>
        <div class="col">
            <div class="row">
                More to Explore
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <button>Alternative & Indie</button>
                    <button>Christian</button>
                    <button>Classical</button>
                    <button>Country</button>
                    <button>Dance</button>
                    <button>Electronic</button>
                    <button>From Around the World</button>
                </div>
                <div class="d-flex flex-column">
                    <button>Hip-Hop/R&B</button>
                    <button>Hits by Decade</button>
                    <button>Holiday</button>
                    <button>Jazz</button>
                    <button>Kids & Family</button>
                    <button>Latin</button>
                    <button>Metal</button>
                </div>
                <div class="d-flex flex-column">
                    <button>Pop</button>
                    <button>Reggae</button>
                    <button>Rock</button>
                    <button>Singer/Songwriter</button>
                    <button>Workout</button>
                </div>
            </div>
        </div>
    </div>
</div>