.card-header{
  border: none;
}
.card-body{
  margin: 0px;
  background-color: gray;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.card-text{
  text-align: center;
  color: white;
}

/* .card{
    position: relative;
    top: 20%;
    size: auto;
    border: none;
  }

  .card-title{
    position: relative;
    top: 0;
    color: gray;
  }

  .card-content {
    position: relative;
    bottom: 0;
    size: auto;
  }

  .card-body {
    background-color: rgba(26, 25, 25, 0.829);
    color: white;
    font-size: small;
  } */